.products-item.document-item {
  width: 330px;
  height: auto;
  gap: 15px;

  & .pdf-container {
    max-width: 300px;
    height: 70%;
  }

  & .products-item__text-holder {
    min-height: auto;

    & .card-title-font-style {
      font-size: 16px;
    }

    & .card-text-font-style {
      height: auto;
    }
  }
}

.pdf-container {
  & img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
  }
}

.products-item__link-follow.document-item {
  font-size: 16px;

  &:hover {
    letter-spacing: 0.25em;
  }
}


