// fonts style and bottom style

.title-font-style {
  @include title-font-settings;
  font-size: 38px;
  font-weight: 700;
  line-height: 54px;
}

.title-decoration {
  position: relative;
  display: inline-block;
  margin-bottom: 45px;
  text-align: center;

  &:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 1px;
    background: #55B7FF;
    bottom: -24px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.regular-text-font-style {
  @include regular-text-font-style;
  font-size: 16px;
  font-weight: 300;

  &_bold {
    @extend .regular-text-font-style;
    font-weight: 500;
  }
}

.card-title-font-style {
  @include regular-text-font-style;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.card-text-font-style,
.card-text-font-style a {
  @include regular-text-font-style;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.03em;
  font-weight: 300;
}

.card-text-font-style {
  display: inline-block;
  height: 120px;
}

.button-link-decoration,
.button-regular-decoration {
  @include button-regular-decoration;
  width: 225px;
  height: 50px;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: #fff;
    background: #55B7FF;
    box-shadow: 3px 2px 12px 3px rgba(75, 85, 98, 0.3);
    border: none;
    transform: scale(1.05);
  }

  &.hover {
    color: #fff;
    background: #55B7FF;
    box-shadow: 3px 2px 12px 3px rgba(75, 85, 98, 0.3);
    border: none;
    transform: scale(1.05);
  }
}

.button-link-decoration {
  text-align: center;
  line-height: 50px;
}

.section-dividing-line {
  width: 100%;
  height: 1px;
  background-color: rgba(85, 183, 254, 0.5);
}

// adopt. style for screen 1025px

@media screen and (max-width: 1025px) {
  .title-font-style {
    font-size: 36px;
    line-height: 48px;
  }
}

// adopt. style for screen 801px

@media screen and (max-width: 801px) {
  .title-font-style {
    font-size: 32px;
    line-height: 42px;
  }
}

// adopt. style for screen 481px

@media screen and (max-width: 481px) {
  .title-font-style {
    font-size: 28px;
    line-height: 40px;
  }

  .title-decoration {
    margin-bottom: 25px;
  }

  .title-decoration:before {
    bottom: -15px;
  }

  .regular-text-font-style {
    font-size: 15px;
  }

  .card-text-font-style,
  .card-text-font-style a {
    line-height: 22px;
  }
}

//start of general styles

body {
  position: relative;
  width: 100%;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 0.7em;
}

.main-page-intro {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  gap: 50px;
  margin-bottom: 95px;

  &__text-holder,
  &__video-holder {
    width: calc(50% - 30px);
  }

  &__video-holder iframe {
    border-radius: 10px;
    width: 100%;
    aspect-ratio: 16/9;
  }
}
.scroll_animation {
  opacity: 0;
  transform: translateY(150px);
}
.scroll_animation.active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.5s ease-in-out;
}
.main-page-product {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px 0;

  &__content-holder {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 30px;
    flex-wrap: wrap;
  }

  &__title-style {
    margin-bottom: 70px;
  }
}
.products-item {
  width: 285px;
  height: 485px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  background-color: $header-background;
  border: $section-border-style;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 25px;

  &__picture {
    width: 245px;
    height: 245px;
    border-radius: 12px;
  }

  &__text-holder {
    min-height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
  }

  &__icon-follow {
    width: 40px;
    height: 10px;
  }

  @keyframes icon-shaking {
    0% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(18px);
    }

    100% {
      transform: translateX(0);
    }
  }

  &__link-follow {
    @include regular-text-font-style;
    font-size: 14px;
    font-weight: 700;
    color: #38a3f3;
    letter-spacing: 0.05em;
    transition: all 0.2s ease-in-out;
  }
}

@media (hover: hover) {
  .products-item__link-follow:hover {
    letter-spacing: 0.16em;
  }

  .products-item__link-follow:hover .products-item__icon-follow {
    animation: icon-shaking 0.3s infinite ease-out;
  }
}

//adopt. style for screen 1150px

@media screen and (max-width: 1150px) {
  .main-page-product__content-holder {
    justify-content: center;
    gap: 30px;
  }
}

// adopt. style for screen 769px

@media screen and (max-width: 769px) {
  .main-page-intro {
    flex-direction: column;
    margin-bottom: 45px;

    &__text-holder,
    &__video-holder {
      width: 100%;
    }

    &__text-holder {
      display: flex;
      flex-direction: column;
    }
  }

  .main-page-product {
    padding: 45px 0;
  }
}

.content-wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.section-title-header {
  width: 100%;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
  margin-bottom: 35px;
}

//schadow for card-pictures
.products-item__picture,
.about-pictures-holder__picture,
.product-section-holder__picture,
.main-page-intro__video-holder iframe,
.product-card__big-picture,
.product-card__preview-picture,
.pdf-container img,
.swiper {
  box-shadow: $item_border-style;
}

.logo,
.main-page-intro__video-holder iframe,
.products-item__picture {
  transition: all 0.2s ease-in-out;
}

@media (hover: hover) {
  .logo:hover,
  .main-page-intro__video-holder iframe:hover,
  .products-item__picture:hover,
  .product-card__preview-picture:hover,
  .product-section-holder__picture:hover {
    transform: scale(1.07);
  }
}