//styles import
@import "reset";
@import "fonts";
@import "variables";
@import "general";


//blocks
@import "blocks/header";
@import "blocks/contactform";
@import "blocks/footer";
@import "blocks/about";
@import "blocks/products";
@import "blocks/catalog";
@import "blocks/documents";
@import "blocks/productcard";
@import "blocks/404";
@import "blocks/slider";
